@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, .8);
  font: 400 16px/26px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
  background: #27272a;
  overflow-x: hidden;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::selection {
    background: #1c9cdf;
    color: #fff;
}

ul {
  margin: 18px 0 18px 25px;
  padding: 0;
  font-size: 1em;
  line-height: 1.625em;
}

/* @media all and (max-width: 1200px) {
  ul{
    font-size: 1em;
    line-height: 1.625em;
  }
} */

li {
  margin: 0 0 8px;
  padding: 0 0 0 25px;
  position: relative;
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
  text-size-adjust: 100%;
  font: 400 1em/1.625em Ubuntu,Roboto,Arial,Helvetica,sans-serif;
}

ul li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  height: 2px;
  width: 16px;
  background: rgba(212, 7, 84, 0.8);
}

ol {
  counter-reset: ol;
  padding-inline-start: 25px;
}

ol li {
  counter-increment: ol;
}


ol li:before {
  content: counter(ol) '.';
  position: absolute;
  left: 0;
  color: rgba(212,7,84,.8);
  font-weight: 700;
}

a {
  color: #1c9cdf;
  cursor: pointer;
  border: none;
  transition: .2s;
  outline: 0;
  text-decoration: none;
}

a:link {
  color: #1c9cdf;
  text-decoration: none;
}

a:hover {
  color: #d40754;
}
