@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  background-color: #F5F5F5;
  user-select: none;
}

*, ::after, ::before {
  box-sizing: border-box;
}
